# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist/
build/
*.log
*.sqlite3

# Virtual environment
venv/
env/
.env

# Django specific
*.pot
*.pyc
.DS_Store
local_settings.py
db.sqlite3
media/
static/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# Other caches
.mypy_cache/
.pylint.d/
